PORT=3000
NODE_ENV=staging

# POSTGRES DB
PG_DB_DIALECT=postgres
PG_DB_HOST=127.0.0.1
PG_DB_PORT=5432
PG_DB_USERNAME=postgres
PG_DB_PASSWORD=password
PG_DB_DATABASE=

# MONGO DB
MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
MONGO_DB_DATABASE=

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
